include  parts/btn
doctype html
html(lang="en")
  head
    title BoxSpring
    meta(charset="utf-8")
    meta(name="viewport", content="with=device--width, initial-scale=1")
    
    
    //font from TypeKit
    script(src="https://use.typekit.net/czx4kof.js")
    script try{Typekit.load({ async: true });}catch(e){}
    
    //google fonts
    link(href="https://fonts.googleapis.com/css?family=Slabo+13px", rel="stylesheet")
    
    link(rel="stylesheet", href="css/main.css")
    
  body
    .overlay
    include parts/header
    .wrapper
      include parts/home
      include parts/footer
      
    script(src="http://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="js/three.min.js")
    script(src="js/loaders/ColladaLoader.js")
    script(src="js/controls/OrbitControls.js")
    script(src="js/3d.js")
    script(src="js/main.js")
    
      
