include  parts/btn
mixin teamForSmall(name,role,href,desc)
  .team-for-sm
    h5.team-name #{name}
    p.role-para #{role}
    .row.align-flex-end.flex-column-mobile
      .team-pic-for-sm
        img(src=href alt="picture of team member")
      p.team-description #{desc}
      
doctype html
html(lang="en")
  head
    title WhoWeAre.BoxSpring
    meta(charset="utf-8")
    meta(name="viewport", content="with=device--width, initial-scale=1")
    
    //font from TypeKit
    script(src="https://use.typekit.net/czx4kof.js")
    script try{Typekit.load({ async: true });}catch(e){}
    
    //google fonts
    link(href="https://fonts.googleapis.com/css?family=Slabo+13px", rel="stylesheet")
    
    link(rel="stylesheet", href="css/main.css")
    
  body.fixed-header
    .overlay
    include parts/header
    .wrapper
      .row.subnav-mobile
        h3 About
        .sub-nav.ajust-margin
          .sub-nav-box
            a(href="whoWeAre.html").sub-nav-text Who We Are
                 
          .sub-nav-box
            a(href="team.html").active-line.sub-nav-text Team
              .active-bit-left
              .active-bit-right
          .sub-nav-box
            a(href="testimonials.html").sub-nav-text Testimonials
            
      .team-head
        p.small-head Our Goal
        h4 Pull out 120% of client’s soul and design it powerfully and create a special experience.
      
      .verti-line
        .verti-line-bit.verti-up
        .verti-line-bit.verti-down
        
      section.team-section.fix-section
        .fix-left-col.team-left-col
          div(data-src="img/team_1.jpg").team-comments.team-1
            h5.team-name Harriot Davis
            p.role-para CEO, Art Director
            p.left-description “ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”
            
          div(data-src="img/team_2.jpg").team-comments.team-2
            h5.team-name Nicola Evans
            p.role-para Co-Founder, Marketer
            p.left-description “ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”
          
          div(data-src="img/team_3.jpg").team-comments.team-3
            h5.team-name Duncan Walker
            p.role-para Web Designer
            p.left-description “ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”
            
          div(data-src="img/team_4.jpg").team-comments.team-4
            h5.team-name Alice Powell
            p.role-para Interior Desiner, Photographer
            p.left-description “ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”
            
          div(data-src="img/team_5.jpg").team-comments.team-5
            h5.team-name Conall Lowe
            p.role-para Graphic Desiner
            p.left-description “ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”
            
          .team-cta
            +btn("contact.html","Talk with us")
            

        .fix-middle-col
          img(src="img/team_1.jpg")#teamPic
          
        .fix-right-col.team-right-col
          .progress-line
            .progress-bit.progress-1.progress-active
            .progress-bit.progress-2
            .progress-bit.progress-3
            .progress-bit.progress-4
            .progress-bit.progress-5
            
      section.team-sec-for-sm
            
        +teamForSmall("Harriot Davis",
        "CEO, Art Director",
        "img/team_1.jpg",
        "“ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”")
        
        +teamForSmall("Nicola Evans",
        "Co-Founder, Marketer",
        "img/team_2.jpg",
        "“ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”")
        
        +teamForSmall("Duncan Walker",
        "Web Designer",
        "img/team_3.jpg",
        "“ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”")
        
        +teamForSmall("Alice Powell",
        "Interior Desiner, Photographer",
        "img/team_4.jpg",
        "“ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”")
        
        +teamForSmall("Conall Lowe",
        "Graphic Desiner",
        "img/team_5.jpg",
        "“ Restaurant and bevarage industry give people plesure in routine life. I would like to pour water for this huge desert creating  awesome restaurants and bars. ”")
        
          
        .team-cta
          +btn("contact.html","Talk with us")
      
            
          
            
            
      include parts/footer
    
    
    script(src="http://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="js/main.js")
    script(src="js/team.js")
    
      
