footer
  .footer-line
  .footer-bit.deco-right
  .footer-bit.deco-left
  
  .footer-info 
    a(href="tel:123456789").tel +1.123.456.789
    
    a(href="mailto:box_spring@gmail.com").email box_spring@gmail.com
    
    p.address 570 Dunsmuir St #600,<br>Vancouver, BC V6B 1Y1
    
  .footer-right
    ul.social-icons
      li: a(href="https://www.behance.net/",target="_blank").behance
      li: a(href="https://www.instagram.com/",target="_blank").instagram
      li: a(href="https://www.pinterest.com/",target="_blank").pinterest
      li: a(href="https://twitter.com/",target="_blank").twitter
      
    p.copyr Copyright &#169 Design Tak
  
        
  
