header
  .logo
    a(href="index.html")
      img(src="img/bs_logo.svg", alt="boxSpring,logo")
  nav.desktop-nav
    ul.nav
      li.nav-li: a(href="services.html").nav-each Services
      li.nav-li: a(href="projects.html").nav-each Projects
        
      
      li.nav-li 
        .nav-toggle-wrap
          p.nav-each#nav-toggle-triger About  
          .nav-toggle
            a(href="whoWeAre.html").nav-each Who we are
            a(href="team.html").nav-each Team
            a(href="testimonials.html").nav-each Testimonials
      li.nav-li: a(href="contact.html").nav-each Contact
      
  nav.side-nav
    ul.nav
      li.nav-li: a(href="index.html").nav-each Home
      li.nav-li: a(href="services.html").nav-each Services
      li.nav-li: a(href="projects.html").nav-each Projects
      li.nav-li: a(href="whoWeAre.html").nav-each Who we are
      li.nav-li: a(href="team.html").nav-each Team
      li.nav-li: a(href="testimonials.html").nav-each Testimonials
      li.nav-li: a(href="contact.html").nav-each Contact
    
  .side-menu-btn#sideBtn
    .threee-bar
      span.bar.top
      span.bar.mid
      span.bar.bottom    
