section.home-banner
  
  #canvas
  
  .banner-text
    h1 Restaurant<br>Branding & Design
      
    h2 Box Spring Studio is a full-service agency specializing for restaurant and bevarage industry in branding and strategy, website design and development, graphic design and interior design with offices in east coast USA.
    
    +btn("contact.html","Talk with us")
    
    .line-from-banner
      .bit-line.up
      .bit-line.down
      
  
section.home-about
  p.sec-head About
  .left-col
    .slide-home-about
      h6.left-text Drawing on our own experience running restaurant, We design all the way with you.
      
      .for-desktop
        +btn("whoWeAre.html","Know about us")
    
  .right-col
    .row
      .home-about-img-1.each-items
        img(src="img/home_about_1.jpg", alt="image of project that they have done")
    
    .row
      p.home-about-text.each-items For over 10 years we have been collectively shaping the restaurant and beverage industries with fresh, new concepts, iconoclastic branding design, and innovative marketing strategies that challenge convention. We push the envelope. We think big and deliver even bigger.
      
      .home-about-img-2.push-gutter.each-items
        img(src="img/home_about_2.jpg", alt="image of project that they have done")
        
    .for-mobile
      +btn("whoWeAre.html","Know about us")
  
section.home-work
  p.sec-head Work
  .left-col
    .slide-home-about
      h6.left-text We do everything you need. We cook your uniqueness and express it effectively. 
      
      .for-desktop
        +btn("projects.html","See more works")
    
    
  .right-col
    .row
      .home-work-middle
        .home-work-img-1.each-items
          img(src="img/home_work_1.jpg", alt="graphic, print design")
        
        .each-items
          p.home-work-list We mainly delivery...
          strong.list.list-big Brand Strategy<br>
          strong.list.list-big Graphic Design<br>
          strong.list.list-big Website Development<br>
          strong.list.list-big Interior Design<br>
          span.list etc...
      
      .home-work-img-2.push-gutter.each-items
        img(src="img/home_work_2.jpg", alt="print design")
    
    .for-mobile
      .half-width.each-items
        p.home-work-list-mobile We mainly delivery...
        strong.list.list-big Brand Strategy<br>
        strong.list.list-big Graphic Design<br>
        strong.list.list-big Website Development<br>
        strong.list.list-big Interior Design<br>
        span.list etc...
        
      .half-width.each-items
        img(src="img/home_work_4.jpg", alt="web design and development")
      
    .row.extra-margin-verti
      p.home-work-text.push-1-grid.each-items Smart design makes everything better. Whether it’s a refresh or re-invention, we create and activate powerful, seamlessly connected customer experiences that grow businesses and build brands. 
      
    .row
      .home-work-img-4.each-items
        img(src="img/home_work_4.jpg", alt="web design and development")
      
      .home-work-img-3.push-gutter.each-items
        img(src="img/home_work_3.jpg", alt="interior design")
  
    .for-mobile
      +btn("projects.html","See more works")
  
